[Unit]
Description=gohome once %i

[Service]
Environment="GOHOME_MQTT=tcp://mqtt:1883"
Environment="GOHOME_API=..."
Type=oneshot
ExecStart=%h/bin/armv7l/gohome run %i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
